<!DOCTYPE html >
<html ng-app>
  <head>
    <script type="text/javascript" src="http://155.212.214.157:7004/api/wsc.js"></script>
    <title>WSC Demo</title>
  </head>
    <body>
        <%= include partials/galaxynexus.html %>
   </body>
</html>
