.loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 1;
    pointer-events:none;
}

.widget-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    pointer-events:none;
    overflow:hidden;
}

.loading {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
}

.calling {
    width: 66px;
    height: 66px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -33px 0 0 -33px;
}

.loadingAnimation {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#videoContainer {
    width: 70%;
    padding: 10px;
    position: absolute;
    right:20px;
    top:70px;
    object-fit: contain;
}

.videoSubContainer {
    position:absolute;
    bottom:20px;
    left:20px;
    width:25%;
}


.video {
    width:100%;
    border-radius:20px;
    border: 2px solid;
    border-color: #ddd;
}

@keyframes loadingComplete {
  0% {
    opacity: 1;
    pointer-events:auto;
  }

  100% {
    opacity: 0;
    pointer-events:none;
  }
}

@-webkit-keyframes loadingComplete {
  0% {
    opacity: 1;
    pointer-events:auto;
  }

  100% {
    opacity: 0;
    pointer-events:none;
  }
}

.loadingComplete {
  -webkit-animation-name: loadingComplete;
  animation-name: loadingComplete;
}

#widget-container {
    height: 500px;
    background-color: #cc0717;
    width: 675px;
    margin: -250px 0 0 -337.5px;
    left: 50%;
    top: 360px;
    display: block;
    position: absolute;
    box-shadow: 50px 50px 100px 10px black;
    border-radius: 15px;
    pointer-events: auto;
    color: #010358;
}

#widget-header {
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    background-color:white;
    font-size: 40px;
    height:40px;
}

#widget-body {
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    height:400px;
}

#widget-footer {
    bottom:5px;
    margin:8px;
    position:absolute; 
}

#video-overlay{
    border-style:solid;
    border-width:10px;
    border-color: #cc0717;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 175px;
}

#advisorButton{
    font-size: 10px; 
    border: solid 2px; 
    padding: 3px; 
    border-radius: 4px; 
    border-color: #cc0717;
    width: 130px; 
    cursor: pointer;
}

.genericButton{
    cursor:pointer;
}

@-webkit-keyframes bounceInLeft {

  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

@keyframes bounceInLeft {

  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

}

.entershow {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceOutRight {

  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

}

@keyframes bounceOutRight {

  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

}

.enterhide {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#remoteVideoFrame {
    height:350px;
    width:480px;
    -moz-border-radius:40px;
    border-radius:40px;
    overflow:hidden;
    -webkit-mask-image: url(http://f.cl.ly/items/1e181Q0e3j0L3L3z2j3Z/rect.svg);
    position:absolute; 
    left:190px
}
