


body {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    margin-left : 0;
    margin-right: 0;
    margin-top: 3px;
    margin-bottom: 3px;
}


.loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 1;
    pointer-events:none;
    z-index: 2000;
}

.widget-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    pointer-events:none;
    overflow:hidden;
    z-index:1000;
}

.loading {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
}

.calling {
    width: 66px;
    height: 66px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -33px 0 0 -33px;
}

.loadingAnimation {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#videoContainer {
    width: 70%;
    padding: 10px;
    position: absolute;
    right:20px;
    top:70px;
    object-fit: contain;
}

.videoSubContainer {
    position:absolute;
    bottom:20px;
    left:20px;
    width:25%;
}


.video {
    width:100%;
    border-radius:20px;
    border: 2px solid;
    border-color: #ee2722;
}

@keyframes loadingComplete {
  0% {
    opacity: 1;
    pointer-events:auto;
  }

  100% {
    opacity: 0;
    pointer-events:none;
  }
}

@-webkit-keyframes loadingComplete {
  0% {
    opacity: 1;
    pointer-events:auto;
  }

  100% {
    opacity: 0;
    pointer-events:none;
  }
}

.loadingComplete {
  -webkit-animation-name: loadingComplete;
  animation-name: loadingComplete;
}

.widgetDock {
        -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
    -webkit-animation-name: dockWidget;
    animation-name: dockWidget;
}

.widgetUndock {
        -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
    -webkit-animation-name: undockWidget;
    animation-name: undockWidget;
}

@keyframes dockWidget {
  0% {
    width: 630px;
    margin: -300px 0 0 -315px;
    left: 50%;
    top: 360px;
  }

  100% {
    width: 160px;
    margin: -250px 0 0 -160px;
    left: 100%;
    top: 250px;
  }
}

@-webkit-keyframes dockWidget {
  0% {
    width: 630px;
    margin: -300px 0 0 -315px;
    left: 50%;
    top: 360px;
  }

  100% {
    width: 160px;
    margin: -250px 0 0 -160px;
    left: 100%;
    top: 250px;
  }
}

@keyframes undockWidget {
  0% {
    width: 160px;
    margin: -250px 0 0 -160px;
    left: 100%;
    top: 250px;
  }

  100% {
    width: 630px;
    margin: -300px 0 0 -315px;
    left: 50%;
    top: 360px;
  }
}

@-webkit-keyframes undockWidget {
  0% {
    width: 160px;
    margin: -250px 0 0 -160px;
    left: 100%;
    top: 250px;
  }

  100% {
    width: 630px;
    margin: -300px 0 0 -315px;
    left: 50%;
    top: 360px;
  }
}

#widget-header {
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    background-color:white;
    font-size: 40px;
    height:40px;
}

#widget-body {
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    height:355px;
}

#widget-footer {
    bottom:5px;
    margin:8px;
    position:absolute; 
}

#video-overlay{
    border-style:solid;
    border-width:10px;
    border-color: #0085c3;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 175px;
}


.genericButton{
    cursor:pointer;
}

.buttonIcon {
    font-size: 210px;
}

.buttonDock {
    -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
    -webkit-animation-name: dockButton;
    animation-name: dockButton;
}

.buttonUndock {
    -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
    -webkit-animation-name: undockButton;
    animation-name: undockButton;
}

@keyframes dockButton {
  0% {
    opacity: 0;
    pointer-events:none;
    font-size: 210px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    opacity: 0;
    pointer-events:auto;
    font-size: 112px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  51% {
    opacity: 1;
    pointer-events:auto;
    font-size: 112px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }

  75% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }

  90% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes dockButton {
  0% {
    opacity: 0;
    pointer-events:none;
    font-size: 210px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    opacity: 0;
    pointer-events:auto;
    font-size: 112px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  51% {
    opacity: 1;
    pointer-events:auto;
    font-size: 112px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }

  75% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }

  90% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events:auto;
    font-size: 112px;
  }
}


@keyframes undockButton {
  0% {
    opacity: 0;
    pointer-events:none;
    font-size: 210px;

  }

  50% {
    opacity: 0;
    pointer-events:auto;
  }
  
  100% {
      opacity : 1;
  }

}

@-webkit-keyframes undockButton {
  0% {
    opacity: 0;
    pointer-events:none;
    font-size: 210px;

  }

  50% {
    opacity: 0;
    pointer-events:auto;
  }
  
  100% {
      opacity : 1;
  }
}



@-webkit-keyframes bounceInLeft {

  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

@keyframes bounceInLeft {

  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

}

.entershow {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.enterhide {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceOutRight {

  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

}

@keyframes bounceOutRight {

  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

}

.enterhideFromDocked {
  -webkit-animation-name: bounceOutRightFromDocked;
  animation-name: bounceOutRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceOutRightFromDocked {

  0% {
      width: 160px;
    margin: -250px 0 0 -160px;
    left: 100%;
    top: 250px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  20% {
      width: 160px;
    margin: -250px 0 0 -160px;
    left: 100%;
    top: 250px;
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
      width: 160px;
    margin: -250px 0 0 -160px;
    left: 100%;
    top: 250px;
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

}

@keyframes bounceOutRightFromDocked {

  0% {
      width: 160px;
    margin: -250px 0 0 -160px;
    left: 100%;
    top: 250px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  20% {
      width: 160px;
    margin: -250px 0 0 -160px;
    left: 100%;
    top: 250px;
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
      width: 160px;
    margin: -250px 0 0 -160px;
    left: 100%;
    top: 250px;
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

}


@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#remoteVideoFrame {
    height:350px;
    width:480px;
    -moz-border-radius:40px;
    border-radius:40px;
    overflow:hidden;
    -webkit-mask-image: url(http://f.cl.ly/items/1e181Q0e3j0L3L3z2j3Z/rect.svg);
    position:absolute; 
    left:190px
}


#form-container {
    height: 500px;
    background-color: white;
    width: 340px;
    margin: -300px 0 0 -200px;
    left: 50%;
    top: 360px;
    display: block;
    position: absolute;
    box-shadow: 50px 50px 100px 10px black;
    border-radius: 5px;
    pointer-events: auto;
    opacity: 1.0;
    text-align:left;
}

#form-container-body {
    padding : 12px;
    width: 280px;
    font-size: small;
}

.formshow {
 -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.formhide {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

@keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

.form-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    pointer-events:none;
    overflow:hidden;
}

.overlayDarken {
    background-color: black;
    opacity : 0.7;
}


@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.focusElement {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: swing;
  animation-name: swing;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  60% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  80% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}


.form-control {
  display: block;
  width: 100%;
  height: 15px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}


.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}