#grid
{
	width:960px;
	padding:0 0 0 10px;
	float:left;
}
#grid:after
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#genericPopupWin #grid
{
	background:#fff;
	width:720px;
	padding:0 30px;
}
#grid .grid
{
	float:left;
	position:relative;
	padding:0 20px 0 0;
}
#grid .grid_1
{
	width:20px;
}
#grid .grid_2
{
	width:60px;
}
#grid .grid_3
{
	width:100px;
}
#grid .grid_4
{
	width:140px;
}
#grid .grid_5
{
	width:180px;
}
#grid .grid_6
{
	width:220px;
}	
#grid .grid_7
{
	width:260px;
}
#grid .grid_8,
.jqmWindow .grid_8
{
	width:300px;
}	
#grid .grid_9
{
	width:340px;
}	
#grid .grid_10
{
	width:380px;
}	
#grid .grid_11
{
	width:420px;
}
#grid .grid_12,
.jqmWindow .grid_12
{
	width:460px;
}	
#grid .grid_13
{
	width:500px;
}
#grid .grid_14
{
	width:540px;
}
#grid .grid_15
{
	width:580px;
}
#grid .grid_16,
.jqmWindow .grid_16
{
	width:620px;
}
#grid .grid_17
{
	width:660px;
}
#grid .grid_18
{
	width:700px;
}
#businessHome #grid .grid_18
{
	padding:0;
	width:720px;
}
#grid .grid_19
{
	width:740px;
}
#grid .grid_20
{
	width:780px;
}
#grid .grid_21
{
	width:820px;
}
#grid .grid_22
{
	width:860px;
}
#grid .grid_23
{
	width:900px;
}
#grid .grid_24
{
	width:960px;
	padding:0 0 25px;
}
#personalHome #grid .grid_24,
#businessHome #grid .grid_24,
#business #grid .grid_24
{
	padding:0 0 30px;
}
#genericPopupWin #grid .grid_24
{
	width:720px;
}
.jqmWindow .grid
{
	float:left;
	padding:0 10px 0 0;
}
.jqmWindow .grid_24
{
	padding:0;
	width:940px;
}
#lightviewProduct .grid_24
{
	padding:30px 15px 15px 25px;
}
#lightviewProposition .grid_24
{
	padding:20px 15px 15px 25px;
}
#lightviewDetails .grid_8,
#lightviewDetails1 .grid_8,
#lightviewDetails2 .grid_8,
#lightviewDetails3 .grid_8,
#lightviewDetails4 .grid_8,
#lightviewDetails5 .grid_8,
#lightviewDetails6 .grid_8
{
	width:540px;
	padding:0;
}