body
{
	background:#e8e8e8 url("/public/demoassets/genericbank/bg_page_grey_white_shadow.gif") center top repeat-y;
}
#top,
#top #mainTopWrapper,
#top #mainTopUtility,
#top header.global,
#top div.global
{
	width:100%;
}
#top a span#logo img
{
	cursor:pointer;
}
#top #mainTopWrapper
{
	background:url("/public/demoassets/genericbank/bg_header_white_shadow.gif") center bottom no-repeat;
	padding:0 0 10px;
}
#top #mainTopUtility
{
	background:url("/public/demoassets/genericbank/bg_header_dark_grey.gif") center bottom no-repeat;
}
#top #mainTopUtilityRow
{
	margin:0 auto;
	z-index:10;
	position:relative;
	width:980px;
	background:#626469 url("/public/demoassets/genericbank/bg_header_grey.gif") center bottom repeat-x;
}
#top div#mainTopNavigation
{
	margin:0 auto;
	position:relative;
	width:980px;
	z-index:2;
}
#top h1,
#top caption,
.hidden
{
	left:-9999px!important;
	position:absolute!important;
}
div#mainTopNavigation:after,
div#mainTopUtilityRow:after
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
div#mainTopUtility li
{
	float:left;
}
#tabs
{
	float:left;
}
#tabs li
{
	font-size:75%;
	color:#fff;
	white-space:nowrap;
	font-weight:bold;
	position:relative;
}
#tabs li.skipLink
{
	z-index:1;
}
#tabs li.skipLink a
{
	position:absolute;
	z-index:400;
	background-color:#333;
	padding:11px 12px 12px;
	display:block;	
}
#tabs li a.skip
{
	left:-9999px;
}
#tabs li a.skip:active,
#tabs li a.skip:focus
{
	left:0;
}
#tabs li.last
{
	margin:0 0 0 -1px;
}
#tabs li.on
{
	background:url("/public/demoassets/genericbank/bg_arrow.gif") no-repeat center bottom;
}
#tabs li.currentBreadcrumb a
{
	background:url("/public/demoassets/genericbank/toptab_darkgrey_arrow.gif") 6px center no-repeat;
	padding:11px 12px 12px 24px;
}
#tabs a
{
	color:#fff;
	display:block;
	padding:11px 12px 12px;
	text-decoration:none;
}
#tabs li.first a
{
	background-image:url("/public/demoassets/genericbank/tab_divider.gif");
	background-position:right center;
	background-repeat:no-repeat;
}
#tabs li.solo a
{
	background-image:none;
}
#tabs li.last a
{
	padding:11px 12px 12px 13px;
}
ul#tabs li a:hover,
ul#tabs li a:active,
ul#tabs li a:focus
{
	background:#333;
}
ul#tabs li.on a:hover,
ul#tabs li.on a:active,
ul#tabs li.on a:focus
{
	background:#333 url("/public/demoassets/genericbank/bg_arrow.gif") no-repeat center bottom;
}
ul#tabs li.currentBreadcrumb a:hover,
ul#tabs li.currentBreadcrumb a:active,
ul#tabs li.currentBreadcrumb a:focus
{
	background:#333 url("/public/demoassets/genericbank/toptab_darkgrey_arrow.gif") 6px center no-repeat;
}
#tabs a:active,
#tabs a:focus,
#tabs li.on a:active,
#tabs li.on a:focus
{
	text-decoration:underline;
}
#siteControls
{
	float:right;
}
#siteControls #locale,
#siteControls #search
{
	float:left;
	padding:0 0 0 8px;
}
#locale
{
	position:relative;
	z-index:300;
}
#locale a.dropDownLink,
#locale a.on
{
	color:#fff;
	padding:11px 0 12px 30px;
	display:block;
	text-decoration:none;
	background:url("/public/demoassets/genericbank/flag.gif") 12px center no-repeat;
}
#locale a.dropDownLink:hover,
#locale a.dropDownLink:active,
#locale a.dropDownLink:focus
{
	background:#333 url("/public/demoassets/genericbank/flag.gif") 12px center no-repeat;
}
#locale a.on,
#locale a.on:hover,
#locale a.on:active,
#locale a.on:focus
{
	background:#626469 url("/public/demoassets/genericbank/flag.gif") 12px center no-repeat;
}
#locale a.dropDownLink span,
#locale a.on span
{
	background:url("/public/demoassets/genericbank/dropdown_down.gif") right center no-repeat;
	padding:0 30px 0 10px;
	display:block;
	font-size:75%;
	font-weight:bold;
}
#locale a.on span
{
	background:url("/public/demoassets/genericbank/dropdown_up.gif") right center no-repeat;
}
#locale a.dropDownLink:active,
#locale a.dropDownLink:focus
{
	text-decoration:underline;
}
#dropDown
{
	width:960px;
	float:left;
	padding:0 0 22px;
}
#innerPage .showDropDown
{
	padding:0;
	top:-122px;
	left:10px;
	z-index:200;
	position:absolute;
}
#dropDown #dropDownWrapper
{
	background:url("/public/demoassets/genericbank/doormat_shadow_bg.png") center bottom repeat-x;
	width:960px;
	padding:30px 0;
	float:left;
	z-index:300;
	position:relative;
}
#innerPage .showDropDown #dropDownWrapper
{
	position:absolute;
	top:35px;
	left:0;
}
#top #dropDown p.skipLink,
#top #sections p.skipLink,
#top #sections p.skipLinkLast
{
	padding:0;
	font-size:75%;
	font-weight:bold;
}
#top #dropDown p.skipLink a,
#top #sections p.skipLink a,
#top #sections p.skipLinkLast a
{
	color:#fff;
	padding:12px;
	display:block;
	background:#333;
	text-decoration:underline;
	right:0;
	top:-99999px;
	position:absolute;
	z-index:400;
}
#top #dropDown p.skipLink a:active,
#top #dropDown p.skipLink a:focus,
#top #sections p.skipLink a:active,
#top #sections p.skipLink a:focus,
#top #sections p.skipLinkLast a:active,
#top #sections p.skipLinkLast a:focus
{
	top:0;
	right:0;
}
#dropDown .langList,
#dropDown .navList
{
	float:left;
	width:960px;
	background-color:#626469;
}
#dropDown .langList h2,
#dropDown .navList h2,
#dropDown .navList h3
{
	color:#fff;
	font-size:125%;
	line-height:24px;
	font-weight:normal;
	padding:0 0 0 20px;
}
#dropDown .navList h2
{
	float:left;
	width:940px;
}
#dropDown .navList h3
{
	padding:18px 12px 0;
}
#dropDown .nav
{
	float:left;
	width:224px;
	padding:0 8px;
}
#dropDown .nav ul
{
	padding:18px 0 0;
}
#dropDown .nav li
{
	font-size:75%;
	line-height:16px;
}
#dropDown .nav li a
{
	color:#fff;
	text-decoration:none;
	display:block;
	padding:6px 26px 6px 12px;
}
#dropDown .nav li a:hover,
#dropDown .nav li a:active,
#dropDown .nav li a:focus
{
	text-decoration:underline;
}
#dropDown li a.on
{
	background:#333 url("/public/demoassets/genericbank/dropdown_down.gif") right center no-repeat;
}
#dropDown li a.up
{
	background:#333 url("/public/demoassets/genericbank/dropdown_up.gif") right center no-repeat;
}
#dropDown .nav li a.hasMore:hover,
#dropDown .nav li a.hasMore:active,
#dropDown .nav li a.hasMore:focus,
#dropDown .nav li a.on:hover,
#dropDown .nav li a.on:active,
#dropDown .nav li a.on:focus
{
	text-decoration:none;
	background:#333 url("/public/demoassets/genericbank/dropdown_down.gif") right center no-repeat;
}
#dropDown .nav li a.up:hover,
#dropDown .nav li a.up:active,
#dropDown .nav li a.up:focus
{
	text-decoration:none;
	background:#333 url("/public/demoassets/genericbank/dropdown_up.gif") right center no-repeat;
}
#dropDown .nav li a.hasMore:active,
#dropDown .nav li a.hasMore:focus
{
	text-decoration:underline;
}
#dropDown .nav li div
{
	background-color:#333;
	display:none;
	padding:0 12px;
}
#dropDown .nav div ul.site
{
	padding:6px 10px 0 20px;
}
#dropDown .nav li ul li
{
	font-size:100%;
	padding:0 0 12px;
	margin:0;
}
#dropDown .nav li ul li a
{
	font-size:100%;
	padding:0;
}
#dropDown .langList
{
	padding:0 0 37px;
	background:#626469 url("/public/demoassets/genericbank/langList.gif") center bottom no-repeat;
}
#dropDown .langList ul,
#dropDown .langList h2
{
	float:left;
}
#dropDown .langList ul
{
	padding:0 0 0 15px;
}
#dropDown .langList li
{
	margin:0 0 0 -2px;
	display:block;
	font-size:75%;
	float:left;
}
#dropDown .langList li a
{
	background:url("/public/demoassets/genericbank/tab_divider.gif") right center no-repeat;
	color:#fff;
	line-height:20px;
	text-decoration:none;
	display:block;
	padding:2px 12px;
}
#dropDown .langList li.last a
{
	background-image:none;
}
#dropDown .langList li.selected a,
#dropDown .langList li a:hover,
#dropDown .langList li a:active,
#dropDown .langList li a:focus
{
	background:#fff;
	text-decoration:none;
	color:#000;
}
#dropDown .langList li a:active,
#dropDown .langList li a:focus
{
	text-decoration:underline;
}
#search fieldset
{
	float:left;
	padding:7px 0;
}
.search input
{
	font-size:75%;
	float:left;
	line-height:15px!important;
}
.search input.qtext
{
	background:url("/public/demoassets/genericbank/bg_search.gif") left top no-repeat;
	float:left;
	color:#fff;
	font-weight:bold;
	min-height:15px;
	padding:3px 5px 3px 10px!important;
	width:144px;
}
.search input.qtext:active,
.search input.qtext:focus
{
	background:url("/public/demoassets/genericbank/bg_white_search.gif") left top no-repeat;
	color:#626469;
}
.search input[type="submit"],
#logon input[type="submit"]
{
	background-origin:border-box;
	-moz-background-origin:border;
	-webkit-background-origin:border;
	background-clip:border-box;
	-moz-background-clip:border;
	-webkit-background-clip:border;
}
.search input.go
{
	background-image:url("/public/demoassets/genericbank/search.gif");
	background-position:left top;
	background-repeat:no-repeat;
	background-color:#db0011;
	cursor:pointer;
	display:block;
	height:21px;
	text-indent:-9999px;
	width:21px;
}
.search input.go:hover,
.search input.go:active,
.search input.go:focus
{
	background-image:url("/public/demoassets/genericbank/red_search_btn.gif");
}
.search input.go:active,
.search input.go:focus,
#onlineBanking #logon input.enter:active,
#onlineBanking #logon input.enter:focus
{
	border:1px solid #fff;
}
.search input[type="submit"]:active::-moz-focus-inner,
.search input[type="submit"]:focus::-moz-focus-inner,
#onlineBanking #logon input[type="submit"]:active::-moz-focus-inner,
#onlineBanking #logon input[type="submit"]:focus::-moz-focus-inner
{
	border:0!important;
}
#siteControls #onlineBanking
{
	float:left;
	padding:0 10px 0 0;
}
#onlineBanking ul
{
	float:left;
	padding:0;
}
#onlineBanking ul li
{
	color:#fff;
	padding:7px 0 7px 18px;	
}
#onlineBanking ul.on
{
	background-color:#626469;
	margin:0 0 0 8px;
}
#onlineBanking ul.on li
{
	padding:7px 0 7px 10px;	
}
#onlineBanking ul.legacy
{
	padding:0 0 0 8px;
}
#onlineBanking ul.legacy li
{
	padding:7px 0 7px 10px;	
}
#onlineBanking ul span
{
	background:url("/public/demoassets/genericbank/padlock.gif") left center no-repeat;
	display:block;
	font-size:75%;
	font-weight:bold;
	padding:4px 4px 5px 24px;
}
#onlineBanking ul.legacy span
{
	padding:4px 2px 5px 24px;
}
#onlineBanking ul.on span
{
	background:url("/public/demoassets/genericbank/padlock_on.gif") left center no-repeat;
}
#onlineBanking ul li a
{
	display:block;
	float:left;
	text-decoration:none;
}
#onlineBanking ul.legacy li.regLink
{
	padding:0;
	font-size:75%;
	font-weight:bold;
	line-height:12px;
}
#onlineBanking ul.legacy li.regLink a
{
	padding:11px 12px 12px 13px;
	color:#fff;
	background:url("/public/demoassets/genericbank/toptab_white_arrow.gif") right center no-repeat;
}
#onlineBanking ul li a.redBtn,
#onlineBanking ul.legacy li a.redBtn
{
	background:url("/public/demoassets/genericbank/bg_button_a_sml.gif") right top no-repeat;
	color:#fff;
	padding:0 4px 0 0;
}
#onlineBanking ul.legacy li a.greyBtn
{
	background:url("/public/demoassets/genericbank/bg_grey_button_a_sml.gif") right top no-repeat;
	color:#333;
	padding:0 4px 0 0;
}
#onlineBanking ul.on li a.redBtn
{
	background:none;
	padding:4px 0 5px;
}
#onlineBanking ul li a.redBtn:hover,
#onlineBanking ul li a.redBtn:active,
#onlineBanking ul li a.redBtn:focus
{
	background-image:url("/public/demoassets/genericbank/bg_button_a_sml_hover.gif");
}
#onlineBanking ul li a.greyBtn:hover,
#onlineBanking ul li a.greyBtn:active,
#onlineBanking ul li a.greyBtn:focus
{
	color:#db0011;
}
#onlineBanking ul li a.redBtn span,
#onlineBanking ul.legacy li a.redBtn span
{
	background:url("/public/demoassets/genericbank/bg_button_span_sml.gif") left top no-repeat;
	padding:4px 6px 5px 10px;
}
#onlineBanking ul.legacy li a.greyBtn span
{
	background:#ececec url("/public/demoassets/genericbank/bg_grey_button_span_sml.gif") left top no-repeat;
	padding:4px 4px 5px 29px;
}
#onlineBanking ul.on li a.redBtn span
{
	background:url("/public/demoassets/genericbank/dropdown.gif") right center no-repeat;
	padding:0 26px 0 2px;
}
#onlineBanking ul li a.redBtn:hover span,
#onlineBanking ul li a.redBtn:active span,
#onlineBanking ul li a.redBtn:focus span
{
	background-image:url("/public/demoassets/genericbank/bg_button_span_sml_hover.gif");
}
#onlineBanking ul.on li a.redBtn:hover,
#onlineBanking ul.on li a.redBtn:active,
#onlineBanking ul.on li a.redBtn:focus
{
	background:none;
}
#onlineBanking ul.on li a.redBtn:hover span,
#onlineBanking ul.on li a.redBtn:active span,
#onlineBanking ul.on li a.redBtn:focus span
{
	background:url("/public/demoassets/genericbank/dropdown.gif") right center no-repeat;
}
#onlineBanking ul.legacy li.regLink a:hover,
#onlineBanking ul.legacy li.regLink a:active,
#onlineBanking ul.legacy li.regLink a:focus,
#onlineBanking ul li a:active,
#onlineBanking ul li a:focus
{
	text-decoration:underline;
}
#onlineBanking #logon
{
	display:none;
	position:absolute;
	right:10px;
	top:35px;
	width:248px;
	padding:13px 24px;
	z-index:400;
	float:left;
	background:url("/public/demoassets/genericbank/doormat_shadow_bg.png") center bottom repeat-x;
}
#onlineBanking #logon fieldset
{
	background-color:#626469;
	width:248px;
}
#onlineBanking #logon p
{
	color:#fff;
	line-height:24px;
	font-weight:bold;
	font-size:125%;
	padding:0 0 16px;
}
#onlineBanking #logon label,
#onlineBanking #logon ul li
{
	color:#fff;
	font-size:75%;
	line-height:16px;
	display:block;
	padding:0 0 5px;
}
#onlineBanking #logon ul li
{
	line-height:15px;
}
#onlineBanking #logon ul
{
	padding:16px 0 8px;
}
#onlineBanking #logon ul li
{
	width:124px;
	padding:0 0 4px;
}
#onlineBanking #logon ul li a:hover,
#onlineBanking #logon ul li a:active,
#onlineBanking #logon ul li a:focus
{
	text-decoration:underline;
}
#onlineBanking #logon input.enter
{
	background-image:url("/public/demoassets/genericbank/bg_button_button_sml.gif");
	background-position:left top;
	background-repeat:no-repeat;
	background-color:#db0011;
	float:right;
	display:block;
	font-size:75%;
	line-height:15px!important;
	height:21px;
	text-indent:-9999px;
	width:58px;
	cursor:pointer;
}
#onlineBanking #logon input.enter:hover,
#onlineBanking #logon input.enter:active,
#onlineBanking #logon input.enter:focus
{
	background-image:url("/public/demoassets/genericbank/bg_button_button_sml_hover.gif");
}
#onlineBanking #logon input#userID
{
	background:#fff url("/public/demoassets/genericbank/bg_white_logon.gif") left top no-repeat;
	color:#626469;
	font-weight:bold;
	float:left;
	width:164px;
	padding:3px 8px;
	font-size:75%;
}
#logo
{
	padding:27px 24px 26px 10px;
	float:left;
}
#logo a
{
	display:block;
}
#logo a:active,
#logo a:focus
{
	outline:1px solid #db0011;
}
#logo img
{
	vertical-align:bottom;
	height:24px;
}
#sections,
#sections ul#topLevel
{
	float:left;
	width:810px;
}
#sections li
{
	float:left;
}
#sections li.level1
{
	margin:0 -2px 0 0;
}
#sections li a.mainTopNav
{
	background:url("/public/demoassets/genericbank/section_divider.gif") left center no-repeat;
	color:#333;
	cursor:pointer;
	display:block;
	font-size:75%;
	position:relative;
	line-height:24px;
	
	text-decoration:none;
	padding:20px 15px 17px;
}
#sections li a.single
{
	padding:30px 15px 31px;
}
#sections li a.selected
{
	color:#db0011;
}
#sections li a.mainTopNav strong
{
	font-size:133.33%;
	line-height:16px;
}
#sections ul li.focused a.mainTopNav,
#sections ul li a.mainTopNav:hover,
#sections ul li:hover a.mainTopNav
{
	background:#626469 url("/public/demoassets/genericbank/bg_main_nav_on.gif") left top repeat-x;
	color:#fff;
}
#sections ul li a.mainTopNav:active,
#sections ul li a.mainTopNav:focus
{
	text-decoration:underline;
}
.doormat
{
	background:url("/public/demoassets/genericbank/doormat_shadow_bg.png") center bottom repeat-x;
	left:-9999px;
	padding:20px;
	position:absolute;
	display:none;
	top:77px;
	width:920px;
	z-index:200;
}
#sections li:hover .doormat,
#sections li .showdoormat
{
	left:10px;
}
#sections .doormat .productLink p,
#sections .doormat .doormatLeft p
{
	font-weight:bold;
	font-size:100%;
	line-height:20px;
}
#sections .doormat a
{
	color:#fff;
	text-decoration:none;
}
#sections .doormat .info a
{
	display:block;
	border:2px solid #626469;
}
#sections .doormat a:hover,
#sections .doormat a:active,
#sections .doormat a:focus
{
	text-decoration:underline;
}
#sections .doormat .info a:active,
#sections .doormat .info a:focus
{
	text-decoration:none;
	border-color:#db0011;
}
#sections .doormat .productLink
{
	width:920px;
	background-color:#626469;
}
#sections .doormat .productLink p a
{
	background:url("/public/demoassets/genericbank/lrg_white_arrow.gif") right center no-repeat;
	padding-right:11px;
}
#sections .doormat div.doormatLeft
{
	border-top:1px solid #818387;
	background-color:#626469;
}
#sections .doormat div.third,
#sections .doormat div.third ul
{
	width:660px;
	float:left;
}
#sections .doormat div.full,
#sections .doormat div.full ul
{
	width:920px;
	float:left;
}
#sections .doormat .doormatRight
{
	float:right;
	background-color:#626469;
	width:235px;
	padding:0 0 0 25px;
}
#sections div.doormat .infoPanel
{
	width:235px;
	float:left;
	padding:10px 0 0;
}
#sections .doormat .infoPanel div.info
{
	padding:10px 0 20px;
	color:#fff;
	font-size:75%;
	font-weight:bold;
	line-height:16px;
}
#sections .doormat ul li
{
	padding:20px 25px 0 0;
	color:#fff;
	width:195px;
}
#sections .doormat div.full li
{
	width:205px;
}
#sections .doormat div.doormatLeft ul li ul
{
	width:auto;
}
#sections .doormat ul li ul li
{
	float:none;
	font-size:75%;
	width:auto;
	line-height:16px;
	padding:0 0 8px;
}
#sections .doormat img
{
	vertical-align:bottom;
}
#sections .doormat p
{
	color:#fff;
	font-size:75%;
	line-height:15px;
	padding:0 0 10px;
}
#sections .doormatRight p a,
#onlineBanking ul #logon ul li a
{
	background:url("/public/demoassets/genericbank/sml_white_arrow.gif") right bottom no-repeat;
	padding:0 12px 0 0;
	line-height:15px;
	color:#fff;
}
#welcome
{
	width:970px;
	margin:0 auto;
}
#welcome #welcomeRow
{
	padding:15px 20px 20px 10px;
	float:left;
	width:940px;
	background:url("/public/demoassets/genericbank/border_grey.gif") 10px bottom no-repeat;
	border-bottom:9px solid #fff;
}
#welcome .off
{
	display:none;
}
#welcome p
{
	float:left;
	line-height:19px;
	font-size:100%;
	padding:7px 30px 7px 0;
	color:#000;
}
#welcome a.redBtn
{
	background:url("/public/demoassets/genericbank/bg_button_a.gif") left top no-repeat;
	color:#fff;
	display:block;
	text-decoration:none;
	padding:0 0 0 4px;
	float:right;
}
#welcome a.redBtn:hover,
#welcome a.redBtn:active,
#welcome a.redBtn:focus
{
	background-image:url("/public/demoassets/genericbank/bg_button_a_hover.gif");
}
#welcome a.redBtn span
{
	background:#db0011 url("/public/demoassets/genericbank/bg_button_span.gif") right top no-repeat;
	padding:9px 12px 10px 8px;
	display:block;
	font-size:87.5%;
	font-weight:bold;
	line-height:14px;
}
#welcome a.redBtn:hover span,
#welcome a.redBtn:active span,
#welcome a.redBtn:focus span
{
	background-image:url("/public/demoassets/genericbank/bg_button_span_hover.gif");
}
#welcome a.redBtn:active,
#welcome a.redBtn:focus
{
	text-decoration:underline;
}
#innerPage
{
	margin:0 auto;
	position:relative;
	z-index:1;
	width:970px;
	padding:0 0 0 10px;
}
div#globalFooter
{
	background-color:#626469;
	float:left;
	width:920px;
	padding:0 20px;
}
#supportLinks
{
	padding:13px 0 10px;
	float:left;
	clear:both;
	width:920px;
}
#supportLinks li
{
	float:left;
	color:#fff;
	font-size:125%;
	line-height:23px;
	padding:10px 40px 10px 34px;
}
#supportLinks a
{
	display:block;
	color:#fff;
	text-decoration:none;
}
#supportLinks .contact
{
	background:url("/public/demoassets/genericbank/contact.gif") left center no-repeat;
}
#supportLinks .branch
{
	background:url("/public/demoassets/genericbank/branch.gif") left center no-repeat;
}
#supportLinks .chat
{
	background:url("/public/demoassets/genericbank/chat.gif") left center no-repeat;
}
#supportLinks a:hover,
#supportLinks a:active,
#supportLinks a:focus
{
	text-decoration:underline;
}
div#footerMap
{
	padding:16px 0 41px;
	border-top:1px solid #818387;
	width:920px;
	float:left;
}
#footerMap div.column
{
	float:left;
	padding:0 11px 0 0;
	width:144px;
}
#business #footerMap div.column,
#businessHome #footerMap div.column
{
	width:175px;
}
#footerMap div.last
{
	padding:0 1px 0 0;
}
#footerMap h2
{
	font-size:100%;
	font-weight:bold;
	line-height:20px;
	color:#fff;
	padding:0 0 13px 2px;
}
#footerMap ul
{
	padding:0 15px 0 0;
}
#footerMap li,
#meta li
{
	color:#fff;
	font-size:68.75%;
	line-height:14px;
	padding:0 0 5px 2px;
}
#footerMap a
{
	color:#fff;
	text-decoration:none;
}
#footerMap a:hover,
#footerMap a:active,
#footerMap a:focus
{
	text-decoration:underline;
}
#meta
{
	background-color:#fff;
	float:left;
	padding:12px 0 22px;
	overflow:hidden;
	width:960px;
}
#meta li
{
	color:#333;
	float:left;
	padding:0 12px 0 0;
}
#meta a
{
	color:#333;
	text-decoration:none;
}
#meta a:hover,
#meta a:active,
#meta a:focus
{
	text-decoration:underline;
}
#genericPopupWin
{
	background:#e6e6e6;
}
#genericPopupWin #top
{
	width:780px;
	margin:0 auto;
	background:#fff;
	position:relative;
	z-index:1;
}
#genericPopupWin #top div#mainTopNavigation
{
	width:720px;
	padding:0 30px;
	z-index:0;
}
#genericPopupWin #top #mainTopUtility,
#genericPopupWin #top #mainTopUtilityRow
{
	background:none;
	width:780px;
}
#genericPopupWin #innerPage
{
	width:780px;
	padding:0;
}
#genericPopupWin #tabs a.skip
{
	width:756px
}
#genericPopupWin #logo
{
	padding:20px 0 18px;
}
#genericPopupWin #close
{
	float:right;
	padding:25px 0 0;
}
#genericPopupWin #close a
{
	background:url("/public/demoassets/genericbank/icon_close.gif") right center no-repeat;
	color:#333;
	display:block;
	font-size:87.5%;;
	font-weight:bold;
	line-height:22px;
	padding:0 30px 0 0;
	text-decoration:none;
}
#genericPopupWin #close a:hover,
#genericPopupWin #close a:active,
#genericPopupWin #close a:focus
{
	text-decoration:underline;
}
#genericPopupWin #meta
{
	padding:21px 30px 22px;
	background:#fff url("/public/demoassets/genericbank/border_grey.gif") left top no-repeat;
	width:720px;
}