<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <meta charset="utf-8">
     <meta http-equiv="Pragma" content="no-cache">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <title>DirecTV Support</title>
  </head>
  <body ng-app="directv" ng-controller="directvController" onorientationchange="setViewPort();">
  
  <div id="background">
      <div ng-click="talkToAdvisor()" id="advisorButton">QuickConnect to <br>a DirecTV Agent</div>
  </div>

<audio id="ringback" preload=auto src="/public/media/ringtones/xylophone.ogg" loop></audio>
<audio id="activate" preload=auto src="/public/media/soundfx/waterdrop.ogg"></audio>
<audio id="deactivate" preload=auto src="/public/media/soundfx/logout.mp3"></audio>

<div>
    <div class="widget-overlay">
        <div class="form-overlay" ng-class="{overlayDarken : syncData.form.active === true}"></div>
        <div id="widget-container" ng-class="{entershow : (helpActive === true && widgetDocked === null), 
                                              enterhide : (helpActive === false && (widgetDocked === false || widgetDocked === null)),
                                              enterhideFromDocked : (helpActive === false && widgetDocked === true),
                                              widgetDock : (widgetDocked === true && helpActive === true),
                                              widgetUndock : (widgetDocked == false && helpActive === true)
                                              }">
            <div id="widget-header">
                <h3 style="font-size: 30px">
                    <span ng-hide='chameleon.isActiveCall === true || chameleon.isOutgoingCall === true || madeHelpCall === true || widgetDocked === true'>Connect with DirecTV</span>
                    <span ng-show='chameleon.isOutgoingCall === true && (widgetDocked === false || widgetDocked === null)'>Connecting you...</span>
                    <span ng-show='chameleon.isActiveCall === true && (widgetDocked === false || widgetDocked === null)'>How can I help?</span>
                    <span ng-show='chameleon.isActiveCall === false && chameleon.isOutgoingCall === false && madeHelpCall === true && widgetDocked === true'>Thank You for contacting us!</span>
                    <span class="fa fa-times" style="position:absolute; right:20px; top: 18px; cursor:pointer" ng-click="endHelp()"></span>
                    <span ng-hide='widgetState == "activeDocked" 'class="fa fa-minus" style="position:absolute; right:50px; top: 18px; cursor:pointer" ng-click="toggleWidgetDock()"></span>
                    <span ng-show='widgetState == "activeDocked" 'class="fa fa-plus" style="position:absolute; right:50px; top: 18px; cursor:pointer" ng-click="toggleWidgetDock()"></span>
                </h3>
            </div>
            <div id="widget-body">
                <div ng-hide='chameleon.isActiveCall === true || chameleon.isOutgoingCall === true || madeHelpCall === true'>
                    <div style="font-size:50px; top: 0px; position: relative;">
                        <br style="font-size:50px">
                        <span class="genericButton" ng-click="doVoiceCall()" ng-hide="widgetDocked === true">Voice</span>
                        &nbsp &nbsp &nbsp &nbsp
                        <span class="genericButton" ng-click="doVideoCall()" ng-hide="widgetDocked === true">Video</span>
                        <br>
                        <span class="fa fa-volume-up fa-6 genericButton buttonIcon" ng-class="{buttonDock : (widgetDocked === true),
                                                                                               buttonUndock : (widgetDocked === false)
                        }" ng-click="doVoiceCall()"></span> 
                        &nbsp &nbsp  &nbsp &nbsp
                        <span class="fa fa-video-camera fa-6 genericButton buttonIcon" ng-class="{buttonDock : (widgetDocked === true),
                                                                                                  buttonUndock : (widgetDocked === false)
                        
                        }" ng-click="doVideoCall()"></span>
                    </div>
                </div>
                <div ng-show="chameleon.signallingStateId == 1">
	                <span><strong>Error:  </strong>{{chameleon.signallingError.code}} {{chameleon.signallingError.reason}}</span><br>
	                Please try again later.
                </div>
                <div ng-show='chameleon.isActiveCall === false && chameleon.isOutgoingCall === false && madeHelpCall === true'>
                    <br><br><br><br><br><br><br>
                    <span style="font-size:60px">Hope to see you again soon.</span>
                </div>
                
                <div ng-show="chameleon.isOutgoingCall === true">
                    <br><br><br><br><br>
                    <span ng-hide="widgetDocked === true" style="font-size:30px">Connecting you to a specialist</span><br><br>
                    <img style="pointer-events:none;" src="/public/img/redloading.gif">
                    <br>
                </div>
                
                <div ng-show='chameleon.isActiveCall === true'>
                    <div id="videoContainer">
            	        <video ng-show='chameleon.activeCallVideo == "RECVONLY" || chameleon.activeCallVideo == "SENDRECV"' class="video" id="remoteVideo" autoplay ></video>
            	        <div class="videoSubContainer" >
            	            <video ng-show='chameleon.activeCallVideo == "SENDONLY" || chameleon.activeCallVideo == "SENDRECV"' class="video" id="selfVideo" autoplay muted></video>
            	        </div>
                    </div>
                        <div class="pulse animated infinite" ng-show='chameleon.activeCallVideo == "NONE"' >
                            <span class="fa fa-volume-up fa-6" style="font-size: 130px; position: absolute; left: 50%; display: block; width: 100px; margin: 0px 0 0 -60px; color: #cc0717;"></span>
                        </div>
                        <div class="genericButton">
                            <span ng-click="hangupCall()" class="fa fa-times-circle fa-6" style="font-size:140px; position:absolute; left:20px; bottom:100px;"></span>
                        </div>
                </div>

            </div>
            <div id="widget-footer">

            </div>
            <img src="/public/demoassets/directv/directv-logo.jpg" style="position:absolute; right:18px; bottom:20px; border: solid 5px; margin: 3px; padding: 3px; background-color: white; width:100px">
        </div>
        
        <div id="form-container"  ng-class="{formshow : syncData.form.active === true,
                                            formhide : syncData.form.active === false}">
            
            <div id="form-container-body" class="col-sm-6 ">
                <h2>Service Request Form</h2>
                <br><span id="entry1"><strong> Issue Description</strong>:  <br><input type="text" class="form-control" ng-model="syncData.form.feild1"></input></span>
                <br><br><span id="entry2"><strong> Repair Appointment</strong>:  <br><input type="text" class="form-control" ng-model="syncData.form.feild2"></input></span>
                <br><br><span id="entry3"><strong> Repairman Name</strong>:  <br><input type="text" class="form-control" ng-model="syncData.form.feild3"></input></span>
                <br><br><span id="entry4"><strong> Wiring Consent</strong>:  <br><input type="text" class="form-control" ng-model="syncData.form.feild4"></input></span>
                <br><br><span id="entry5"><strong> Property Notes</strong>:  <br><input type="text" class="form-control" ng-model="syncData.form.feild5"></input></span>
                <br><br><span id="entry6"><strong> Premium Channel Upgrade</strong>:  <br><input type="text" class="form-control" ng-model="syncData.form.feild6"></input></span>
                <br><br><button class="btn btn-mini btn-tfs-primary" id="login-button" ng-click="submitForm()">Submit</button>
        	</div>
        </div>
    </div>
    
    <div class="loading-overlay" ng-class="{loadingComplete : pageIsLoaded === true, loadingAnimation : pageIsLoaded === true}">
        <img style="pointer-events:none;" class="loading" src="/public/img/loadingloop.gif">
    </div>

</div>

<audio id="localAudio" muted></audio>

<script type="text/javascript" src="/public/js/angular.js"></script>
<script type="text/javascript">
var configuration = {
    sipUser : "webrtc3@reidlab.com",
    wscUri : "ws://155.212.214.157:7004/ws/webrtc/guest",
    sipUsername : "webrtc3@reidlab.com",
    sipPassword : "oracle4webrtc",
    localAudioId: "localAudio",
    remoteAudioId : "remoteAudio",
    ringtoneId : "ringback",
    ringbackId: "ringback",
    localVideoId : "selfVideo",
    remoteVideoId : "remoteVideo",
    maxAttemptedCalls : 1,
    maxActiveCalls : 1,
    callbacks : {}
};
</script>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/public/css/directv.css">

<script type="text/javascript" src="/public/js/chameleonBeta.js"></script>
<script type="text/javascript" src="/public/js/directv.js"></script>


</body></html>